@use "variables";

/* CUSTOM PROPS */
:root {
  --primary-bg-color: #3498db;
  --primary-red-color: #e74c3c;
  --text-color: #000;
  --accent-color: ;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: variables.$tablet) {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: variables.$tablet) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: variables.$tablet) {
    background: rgb(110, 110, 110);
    border-radius: 10px;

    &:hover {
      background: rgb(110, 110, 110);
    }
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text {
  position: absolute;
  bottom: 100px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.main-link {
  color: #000;
}

/* CARD */
.card {
  display: flex;
  max-width: 600px;
  width: 100%;
  // height: 235px;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  transition: height 0.2s ease;

  &.active {
    // height: 580px;

    @media only screen and (max-width: variables.$mobile) {
      max-width: 90%;
      height: 610px;
    }
  }

  @media only screen and (max-width: variables.$mobile) {
    max-width: 90%;
    height: 250px;
  }
}

.card__header {
  margin-bottom: 20px;
}

.card__title {
  color: var(--text-color);
  margin-bottom: 5px;
}

.card__text {
  color: var(--text-color);
  opacity: 0.8;
}

.card__form {
  width: calc(100% - 30px);
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.card__inner {
  width: 100%;
}

.card__tab {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &.activeTab {
    display: flex;
  }
}

// TABS
.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.tabs__btn {
  border: none;
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &--active {
    background-color: var(--primary-bg-color);
    color: #fff;
  }
}

// FORM

.form__input {
  border: 1px solid var(--primary-bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;

  &.with-margin {
    margin-bottom: 20px;
  }
}

.form__btn {
  border: none;
  white-space: nowrap;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;

  &--blue {
    background-color: var(--primary-bg-color);
  }

  &--red {
    background-color: var(--primary-red-color);
  }
}

.card__qr-code {
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
    border: 1px solid #ccc;
    padding: 30px 30px;
  }
}

.card__qr-img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
}
